@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-size: 1.2rem;
  font-family: "Madimi One", sans-serif;

}

header{
    font-size: 2rem;
    background-color: rgb(180, 66, 66);
    text-align: center;
    color: white;
}

footer{
    text-align: center;
    font-size: 2rem;

}

nav{
    background-color: rgb(202, 233, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    display: inline;
}

nav ul li a{
    margin: 15px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;

}

.container{
   min-height: 100vh; 
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 20px;
   background-color: rgb(25, 85, 85);
}

.left-text{
    flex-basis: 30%;
}

.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
    /* align-items: center; */
}

.subheading{
    color: rgb(218, 209, 209);
    margin-top: 10px;
    text-align: justify;
}

.gallery{
    flex-basis: 50%;
    display: grid;
    gap: 9px ;
    grid-template-columns: repeat(3,2fr);
    grid-auto-rows: 200px;
}

.box{
    background-size: cover;
    background-position: top;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all is ease-in-out;
    cursor: pointer;

}

.box:hover{
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px #fff;
}

.box1{
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 ,.box7{
    grid-column: 2/4;
}

.box3{
    grid-column: 2/3;
    grid-row: 2/3;
}

.box4{
    grid-row: 2/4;
}

.box5{
    grid-row: 3/5;
}

